import React, { useState } from 'react';
import { Modal, Button, message, Breadcrumb } from 'antd';
[% for component in components %]
import <% component.name %>List from './<% component.name %>List';
import <% component.name %>Form from './<% component.name %>Form';
import <% component.name %>Service from './services/<% component.name %>Service';
[% endfor %]

const <% module %>Page: React.FC = () => {
  const [isModalVisible, setIsModalVisible] = useState<boolean>(false);
  const [currentRecord, setCurrentRecord] = useState<any | null>(null);
  const [data, setData] = useState<any[]>([]);

  const handleEdit = (record: any) => {
    setCurrentRecord(record);
    setIsModalVisible(true);
  };

  const handleDelete = async (id: string) => {
    try {
      await <% components[0].name %>Service.delete(id);
      setData(data.filter(item => item.id !== id));
      message.success('<% components[0].name %> deleted successfully');
    } catch (error) {
      message.error('Failed to delete <% components[0].name|lower %>');
    }
  };

  const handleSubmit = (values: any) => {
    setIsModalVisible(false);
    setCurrentRecord(null);
  };

  const handleCancel = () => {
    setIsModalVisible(false);
    setCurrentRecord(null);
  };

  return (
    <div className="app-container">
      <div className='flex justify-between items-center mb-4'>
          <div>
            <h2 className="text-xl font-bold">Product Lines</h2>
            <Breadcrumb
              className='mb-4'
              items={[
                { title: 'Home', href: '/' },
                { title: 'Product Management', href: '/products' },
              ]}
            />
          </div>

          <Button
            size='large'
            type="primary"
            onClick={() => setIsModalVisible(true)}
            style={{ marginBottom: 16 }}
          >
            Create New
          </Button>
      </div>
      [% for component in components %]
      <<% component.name %>List onEdit={handleEdit} onDelete={handleDelete} data={data} setData={setData} />
      [% endfor %]
      <Modal
        title={currentRecord ? 'Edit <% components[0].name %>' : 'Add <% components[0].name %>'}
        open={isModalVisible}
        footer={null}
        onCancel={handleCancel}
      >
        <<% components[0].name %>Form
          initialValues={currentRecord}
          onSubmit={handleSubmit}
          onCancel={handleCancel}
        />
      </Modal>
    </div>
  );
};

export default <% module %>Page;